service: account-admin
runtime: python
env: flex
entrypoint: gunicorn -b :$PORT admin_app:app

runtime_config:
  python_version: 3

env_variables:
  DATABASE_URL: >- 
    postgres://account_admin_user@/account_admin_master?host=/cloudsql/lexical-cider-93918:us-central1:pg-master
  PGPASSWORD: 
  PROJECT_NUMBER: 863717576768
  PROJECT_ID: lexical-cider-93918
  AUTH0_CLIENT_ID: jvPAqq9PLLKyPoaqdRLRwb9euX9YaHmt
  AUTH0_DOMAIN: tym-oao.auth0.com
  AUTH0_CLIENT_SECRET: 
  AUTH0_CALLBACK_URL: https://account-admin-dot-lexical-cider-93918.appspot.com/callback
  SECRET_KEY:

beta_settings:
    cloud_sql_instances: lexical-cider-93918:us-central1:pg-master
