[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
yapf = "*"

[packages]
click = "*"
flask = "*"
flask-sqlalchemy = "*"
google-api-python-client = "*"
gunicorn = "*"
"httplib2" = "*"
inflect = "*"
itsdangerous = "*"
"jinja2" = "*"
markupsafe = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
requests = "*"
rsa = "*"
uritemplate = "*"
werkzeug = "*"
wtforms = "*"
sqlalchemy = "*"
flask-admin = {editable = true, git = "https://github.com/flask-admin/flask-admin.git"}
"psycopg2-binary" = "*"
pyjwt = "*"
cryptography = "*"
authlib = "*"

[requires]
python_version = "3.7"
