-i https://pypi.python.org/simple
-e git+https://github.com/flask-admin/flask-admin.git@4ecd74291a6eacf8f0c4fe9124c6fe2e126d4ab6#egg=flask-admin
asn1crypto==0.24.0
authlib==0.8
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3
flask-sqlalchemy==2.3.2
flask==1.0.2
google-api-python-client==1.7.4
google-auth-httplib2==0.0.3
google-auth==1.5.1
gunicorn==19.9.0
httplib2==0.11.3
idna==2.7
inflect==1.0.0
itsdangerous==0.24
jinja2==2.10
markupsafe==1.0
psycopg2-binary==2.7.5
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycparser==2.18
requests==2.19.1
rsa==3.4.2
six==1.11.0
sqlalchemy==1.2.10
uritemplate==3.0.0
urllib3==1.26.5; python_version >= '2.6'
werkzeug==0.14.1
wtforms==2.2.1
